{{ $page := .root }}
{{ $section := .page }}
{{ $theses := where site.RegularPages.ByTitle "Section" "thesis" }}

<div class="row">
 
<h1>{{ $section.Title }}</h2>

{{ $section.Content }}

<div class="col-12 col-lg-6">
<div class="section-subheading">{{ or $section.Params.headerAvailable "Available Topics:" }}</div>
{{ range sort $section.Params.topicsAvailable "name" }}
<details class="spoiler " id="spoiler-0">
<summary>{{ .name | markdownify}}</summary>
<ul class="ul-social fa-ul">
<li style="font-size: 0.9rem;">
  <p>{{ .about | markdownify | emojify }}</p> 
</li>
<li style="display: inline-block; font-size: 0.75rem;">
<i class="fa-solid fa-tags"></i> {{ .tags | markdownify }}
</li>
</ul>
</details>
{{ end }}
</div>

<div class="col-12 col-lg-6">
<div class="section-subheading">{{ or $section.Params.headerFinished "Finished Theses:"  }}</div>
<ul>
  {{  range $theses  }}
    <li>
      {{ .Params.topic }}
    </li>
  {{ end }}
</ul>
</div>

</div>
