{{ $page := .root }}
{{ $section := .page }}

<div class="row">
<div class="col-12">
  
<h1>{{ $section.Title }}</h2>

{{ $section.Content }}

Mamma mia. 

<h2>{{ or $section.Params.headerAvailable "Available Topics:" }}</h2>
<ul>
  {{ range where site.thesis.topic "Params.status" "eq" "available" }}
    <li>
      {{ .Params.topic }}
    </li>
  {{ end }}
</ul>

<h2>{{ or $section.Params.headerProgress "Work in Progress:" }}</h2>
<ul>
  {{ range where site.thesis.topic "Params.status" "eq" "inprogress" }}
    <li>
      {{ .Params.topic }}
    </li>
  {{ end }}
</ul>

<h2>{{ or $section.Params.headerFinished "Finished Theses:" }}</h2>
<ul>
  {{  range where site.thesis.topic "Params.status" "eq" "finished" }}
    <li>
      {{ .Params.topic }}
    </li>
  {{ end }}
</ul>


</div>
</div>
