{{ $page := .root }}
{{ $section := .page }}
{{ $theses := where site.RegularPages.ByTitle "Section" "thesis" }}

<div class="row">

<div class="col-12 col-lg-5">  
<h2>{{ $section.Title }}</h2>

{{ $section.Content }}
</div>
<div class="col-12 col-lg-7">
<div class="section-subheading">{{ or $section.Params.headerAvailable "Available Topics:" }}</div>
{{ range sort $section.Params.topicsAvailable "name" }}
<details class="spoiler " id="spoiler-0">
<summary>{{ .name | markdownify}}</summary>
<ul class="ul-social fa-ul">
<li style="font-size: 0.9rem;">
  <p>{{ .about | markdownify | emojify }}</p> 
</li>
<li style="display: inline-block; font-size: 0.75rem;">
<i class="fa-solid fa-tags"></i> {{ .tags | markdownify }}
</li>
</ul>
</details>
{{ end }}
</div>

<div class="col-12">
<div class="section-subheading">{{ or $section.Params.headerFinished "Finished Theses:" }}</div>
  <ul class="fa-ul">
  {{ range sort (sort $section.Params.theses "author") "year" "desc"}}
  <li> 
    {{ range split .author ";" }} 
    <i class="fa-solid fa-user-graduate"></i> {{ . }} <br/>
    {{ end }}
    <ul class="fa-ul" style="display: table; table-layout: fixed; border-spacing: 4px 0px; width:100%; border-left: 1px solid;">
    <li style="display: inline-table; width: 100%; vertical-align: top;">{{ if .link }}<a href={{ .link }} target="_blank" rel="noopener noreferrer">{{ .title }}</a> {{ else }} {{ .title }} {{ end }}<li>
      <li style="display: inline-table; width: 15%; font-size: 0.75rem; vertical-align: top;">{{ if (eq .level 0) }}
        <i class="fa-solid fa-tools"></i> {{ $section.Params.engThesis }}
        {{ else if (eq .level 1) }}
        <i class="fa-solid fa-award"></i> {{ $section.Params.mscThesis }}
        {{ end }}</p></li>  
      <li style="display: inline-table; width: 8%; font-size: 0.75rem; vertical-align: top;"><i class="fa-solid fa-calendar"></i> {{ .year | markdownify }}</p></li>
      {{ with .comment }}
      <li style="display: inline-table; font-size: 0.75rem; width: 75%; vertical-align: top;"><i class="fa-solid fa-note-sticky"></i> {{ . | markdownify }}</p></li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
  </ul>
</div>
</div>
